@import '../../styles/mixin/extend-click';

.yolk-pswp {
  &__header {
    position: absolute;
    top: 0;
    width: 100%;

    > i {
      @include extend-click();
      position: absolute;
      right: 50px;
      top: 50px;
      width: 40px;
      height: 40px;
      background: url(../../assets/image/close.png) center / 36px 36px no-repeat;
    }
  }
  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px;

    > p {
      margin-bottom: 100px;
      text-align: center;
      font-size: 28px;
      color: #ffffff;
      font-family: JDZhengHei-01-Regular;
    }
  }
}
